@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Baloo 2", sans-serif !important;
}

.fw-700 {
  font-weight: 700;
}

.v-app-bar {
  h1 {
    font-size: 2rem;
  }
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
  font-weight: 500;
}
